<!DOCTYPE html>
<html>
<head>
	<title>Загрузка изображений из архивов</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">  
	<link type="text/css" href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='scripts/jquery-3.6.0.min.js')}}"></script>
</head>
<body style="font-size: 14px; position: relative; padding: 15px 20px;">

{% for cat, msg in get_flashed_messages(True)%}
<div class="flash {{cat}}">{{msg}}</div>
{%endfor%}

<form action="{{url_for('update_date')}}" method="post" class="form-contact" enctype="multipart/form-data">
<div class="div">
	<p>Архив:&nbsp;<select required="required" size="1" name="arhiv" onchange="form.submit()">
		<option value="yandex.ru"{% if selected_arhiv == "yandex.ru" %} selected {% endif %}>Яндекс Архив</option>
		<option value="cgamos.ru"{% if selected_arhiv == "cgamos.ru" %} selected {% endif %}>Москва (cgamos.ru)</option>
		<option value="archive.admoblkaluga.ru"{% if selected_arhiv == "archive.admoblkaluga.ru" %} selected {% endif %}>Калуга (ГАКО)</option>
		<option value="gato.tularegion.ru"{% if selected_arhiv == "gato.tularegion.ru" %} selected {% endif %}>Тула (ГАТО)</option></select>
	Логин:&nbsp;<input maxlength="100" name="login" size="15" type="text" {% if log_pas %} value = "{{log_pas[0]}}"{% endif %} />&nbsp; Пароль:&nbsp;<input name="password" size="15" type="password" {% if log_pas %} value = "{{log_pas[1]}}"{% endif %}  />
&nbsp;<input name="SavePassword" type="submit" value="Сохранить"/></p>
</div>
<div class="div">
	<p>Oid/url:&nbsp;<input maxlength="100" name="iod" size="20" type="text" />&nbsp;изображение:&nbsp;&nbsp;<input name="page_start" size="5" type="text" />&nbsp;-&nbsp;<input name="page_stop" size="5" type="text" />&nbsp;<input name="AddOid" type="submit" value="Добавить"/>&nbsp;или загрузить&nbsp;<input name="file" type="file" onchange="form.submit()"/><input name="start" type="submit" value="Начать скачивание" />&nbsp;</p>
</div>
</form>
<table  class="table">
	<thead>
		<tr>
			<th>Oid/url</th>
			<th>С</th>
			<th>По</th>
			<th>Всего</th>
			<th>Статус</th>
			<th>Действие</th>
		</tr>
	</thead>
	<tbody id="data-table-body">
	{% if trs %}
	{% for tr in  trs %}
		<tr>
			<td class="iod" {%if tr.complete %}style="background-color: #AEFFC5;"{% endif %}>{{tr.iod}}</td>
			<td class="page_start" {%if tr.complete %}style="background-color: #AEFFC5;"{% endif %}>{{tr.page_start}}</td>
			<td class="page_stop" {%if tr.complete %}style="background-color: #AEFFC5;"{% endif %}>{{tr.page_stop}}</td>
			<td class="count_rec"{%if tr.complete %}style="background-color: #AEFFC5;"{% endif %}>{{tr.count_rec}}</td>
			<td class="status" {%if tr.complete %}style="background-color: #AEFFC5;"{% endif %}>{{tr.status}}</td>
			<td class="action" {%if tr.complete %}style="background-color: #AEFFC5;"{% endif %}><a href={{url_for('update_date')}}?delete_record={{ loop.index -1}}>Удалить</a></td>
		</tr>	
	{% endfor %}
	{% else %}
	<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
	</tr>{% endif %}

	</tbody>
</table>
<script>
        $(document).ready(function() {
            function updateData() {
                $.getJSON('/update_data_table', function(data) {
                    // Обновляем значения в таблице
					$('#data-table-body tr').each(function(index) {
                        $(this).find('.status').text(data[index].status);
						$(this).find('.count_rec').text(data[index].count_rec);
						if (data[index].complete) {
						$(this).find('.iod').css('background-color',  '#AEFFC5');
						$(this).find('.page_start').css('background-color',  '#AEFFC5');
						$(this).find('.page_stop').css('background-color',  '#AEFFC5');
						$(this).find('.count_rec').css('background-color',  '#AEFFC5');
						$(this).find('.status').css('background-color',  '#AEFFC5');
						$(this).find('.action').css('background-color',  '#AEFFC5');
						}
                    });
                });
            }
            // Обновляем данные каждые 5 секунд (5000 миллисекунд)
            setInterval(updateData, 5000);
        });
    </script>
</body>
</html>
